body {
    font-family: Arial, Helvetica, sans-serif;
}

.modelo {
    display: block;
    margin: 0 auto;
}

.modelo h3 {
    border-left: solid 4px black;
    border-bottom: solid 1px black;
    padding: 4px;
}

#container {
    display: flex;
}





#modelo1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;

}

#modelo1 li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

#modelo1 li a:hover {
    background-color: black;
    color: white;
}






#modelo2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(65, 65, 65);
}

#modelo2 li {
    border: 1px solid gray;
}

#modelo2 a{
    color: white;
    border-left: 9px black solid;
    border-right: 9px gray solid;
}

#modelo2 a:hover{
    color: white;
    border-right: none;
    border-left: 9px gray solid;
}






#modelo3 li {
    background-color: purple;
}