* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e7e7ff;
    color: #333333;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    margin-bottom: 10px;
}

header .subtitle {
    font-size: 19px;
    font-weight: 300;
    text-align: left;
}

main {
    margin-top: 20px;
}

.atividade {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.atividadeTitle {
    font-size: 24px;
    color: #0044cc;
    margin-bottom: 10px;
}

.atividadeDescription {
    margin-bottom: 10px;
    line-height: 1.6;
}

.atividadeLink {
    text-decoration: none;
    color: #0044cc;
    font-weight: bold;
}

.atividadeLink:hover {
    text-decoration: underline;
}

footer {
    background-color: #0044cc;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}