* {
    margin: 0;
    padding: 0;
}

.container{
    width: 40%;
    height: 98vh;
    margin: 0 auto;
    border: solid black 5px;
}

header {
    text-align: center;
    border-bottom: solid black 5px;
    height: 10vh;
}

h1 {
    line-height: 10vh;
}

footer {
    position: relative;
    bottom: 0;
}